<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Chrono app</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet"/>
</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Chronawesomer</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="#">Мои события</a></li>
            <li><a href="#">Мое что-то очень важное</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="#"><span class="glyphicon glyphicon-user"></span> Петр</a></li>
            <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Войти</a></li>
        </ul>
    </div>  
</nav>
<div class="container">
    <h3>Ваши события</h3>
    <h5>У вас еще нет событий</h5>
</div>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>